//// Required

$theme-colors: (
  "primary": #5500b8,
  "secondary": #d63384,
  "success": #198754,
  "info": #ffc107,
  "warning": #fd7e14,
  "danger": #dc3545,
  "light": #fff,
  "dark": #000,
);
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here
@for $i from 0 through 1000 {
  .btn-circle-#{$i} {
    border-radius: 100% !important;
    height: #{$i}px;
    width: #{$i}px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
@for $i from 0 through 1000 {
  .p-#{$i} {
    padding: #{$i}px !important;
  }
  .pl-#{$i} {
    padding: 0 0 0 #{$i}px !important;
  }
  .pr-#{$i} {
    padding: 0 #{$i}px 0 0 !important;
  }
  .pt-#{$i} {
    padding: #{$i}px 0 0 0 !important;
  }
  .pb-#{$i} {
    padding: 0 0 #{$i}px 0 !important;
  }
}

@for $i from 0 through 1000 {
  .m-#{$i} {
    margin: #{$i}px !important;
  }
  .ml-#{$i} {
    margin: 0 0 0 #{$i}px !important;
  }
  .mr-#{$i} {
    margin: 0 #{$i}px 0 0 !important;
  }
  .mt-#{$i} {
    margin: #{$i}px 0 0 0 !important;
  }
  .mb-#{$i} {
    margin: 0 0 #{$i}px 0 !important;
  }
}
