//// Required

$theme-colors: (
  "primary": #5500b8,
  "secondary": #d63384,
  "success": #198754,
  "info": #ffc107,
  "warning": #fd7e14,
  "danger": #dc3545,
  "light": #fff,
  "dark": #000,
);
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here
