//// Required
$theme-colors: (
  "primary": #6610f2,
  "secondary": #d63384,
  "success": #198754,
  "info": #ffc107,
  "warning": #fd7e14,
  "danger": #dc3545,
  "light": #fff,
  "dark": #000,
);
// Custom.scss

@import "~bootstrap/scss/bootstrap";
