//
//
//

.scroll_check {
  overflow: scroll hidden;
  width: 400px;
  //transition: width;
  .background {
    display: flex;
    width: 600px;

    > div.slide {
      margin-left: 10px;

      background-color: chocolate;
      height: 100px;
      width: 100px;
      user-select: none;
    }
  }
}
.text_color {
  color: blue;
}
