$height: "100px";
$width: "100px";
.wrapper {
  position: relative;
  overflow: hidden;
  height: $height;
  width: $width;
  background: #222;
  z-index: 1;

  .slides {
    display: flex;
    position: relative;
    top: 0;
    left: -$width;
    width: 10000px;
  }
}
.control {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
  z-index: 2;
  &.next,
  &.prev {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &:active {
      transform: scale(0.8);
    }
  }
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}
