.inputCostume {
  border-radius: 5px;

  &:focus {
    box-shadow: none;
    border-color: white;
  }
}

.menudropdown {
  position: relative;
  .relative {
    //background-color: white;
    margin: 0 10px 0 10px;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    //border-radius: 5px;
    color: white;
    position: static;
    font-weight: 100;
  }
  .absolute {
    position: absolute;
    z-index: 10;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    transition-property: top, visibility, opacity;
    transition-duration: 150ms;
    transition-timing-function: linear;
    left: 0;
    min-width: 75vw;

    &.active {
      visibility: visible;
      opacity: 1;
    }
    > div {
      box-shadow: 2px 2px 10px 0.1px rgba(0, 0, 0, 0.19);
      padding: 10px;
      border-radius: 3px;
      background-color: white;
      display: flex;
      //justify-content: center;
      flex-flow: column;
      //align-items: center;
      height: auto;
    }
  }
}
.menudropdown_profile {
  position: relative;
  .relative {
    //background-color: white;
    cursor: pointer;
    //border-radius: 5px;
    color: white;
    position: static;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  .absolute {
    position: absolute;
    z-index: 10;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    transition-property: top, visibility, opacity;
    transition-duration: 150ms;
    transition-timing-function: linear;
    left: 0;
    min-width: 5vw;

    &.active {
      visibility: visible;
      opacity: 1;
    }
    > div {
      box-shadow: 2px 2px 10px 0.1px rgba(0, 0, 0, 0.19);
      padding: 10px;
      border-radius: 3px;
      background-color: white;
      display: flex;
      //justify-content: center;
      flex-flow: column;
      //align-items: center;
      height: auto;
    }
  }
}
.pointer-focus {
  cursor: pointer;
}
